body {
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 184px;
}
table {
    width: 100%;
}
div {
    display: flex;
    flex-direction: column;
}
th {
    font-weight: bold;
}
section {
    width: 85%;
}