body {
    display: flex;
    flex-direction: column;
}
#header {
    margin: 40px;
}
table {
    width: 100%;
}
div {
    display: flex;
    flex-direction: column;
}
th {
    font-weight: bold;
}
section {
    width: 85%;
    margin: 40px;
}
h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
h4 {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
#table-title {
    margin-bottom: 20px;
}
#time-section{
    display: flex;
    flex-direction: row;
}
.input-div {
    margin-bottom: 40px;
}
td:nth-child(1){
    width: 20%;
}
td:nth-child(2){
    width: 20%;
}
td:nth-child(3){
    width: 20%;
}
td:nth-child(4){
    width: 20%;
}
td:nth-child(5){
    width: 20%;
}